
<!-- Toolbar -->


<div class="content" role="main">


  <div class=" col">
    <hr>

    <h3>Login</h3>

    <form [formGroup]="loginForm" #f="ngForm" (submit)="login()">
      <div class="form-group">
        <label for="exampleInputEmail1" >Email address</label>
        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" id="email" formControlName="email">
        <small class="text-danger "
      *ngIf="loginForm.get('email') && !loginForm.get('email')!.valid && loginForm.get('email')!.touched">email is
      required!</small>

      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" id="password" formControlName="password">

        <small class="text-danger "
        *ngIf="loginForm.get('password') && !loginForm.get('password')!.valid && loginForm.get('password')!.touched">password is
        required!</small>
      </div>
      <hr>
      <br>

      <button type="submit" class="btn btndark">Submit</button>
    </form>
    <a routerLink="../register">Create New User?</a>

  </div>

  <!-- Next Steps -->




  <div class="spacer"></div>






</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div #myNameElem class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>
<router-outlet></router-outlet>


