<div class="container" role="main">

  <div class="row justify-content-md-center row-cols-1 row-cols-sm-2">

  <div class=" col">
    <hr>

    <h3>Register</h3>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="form-group">
        <label for="exampleInputPassword1">First Name</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="firstname" id="firstname"
          formControlName="firstname">
        <small class="text-danger "
          *ngIf="registerForm.get('firstname') && !registerForm.get('firstname')!.valid && registerForm.get('firstname')!.touched"><em>Firstname
          is
          required!</em></small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Last Name</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="lastname" id="lastname"
          formControlName="lastname">
        <small class="text-danger "
          *ngIf="registerForm.get('lastname') && !registerForm.get('lastname')!.valid && registerForm.get('lastname')!.touched"><em>
          Lastname is required!</em></small>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" id="email"
          formControlName="email">
        <small class="text-danger "
          *ngIf="registerForm.get('email') && !registerForm.get('email')!.valid && registerForm.get('email')!.touched"><em>email
          did
          not confirmed!</em></small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" id="password"
          formControlName="password">
        <small><em>Password to be min 5 char.</em></small>
        <div><small class="text-danger "
            *ngIf="registerForm.get('password') && !registerForm.get('password')!.valid && registerForm.get('password')!.touched"><em>password
            is
            required!</em></small></div>

      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Confirm Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="confirmpassword"
          id="confirmpassword" formControlName="confirmpassword">

        <div><small class="text-danger"
            *ngIf="registerForm.get('confirmpassword')?.hasError('confirmedValidator')"><em>Passwords must be match.</em></small>
        </div>

      </div>
      <hr>
      <br>


      <button [disabled]="!registerForm.valid" type="submit" class="btn btndark">register</button>
    </form>
    <a routerLink="../login">already have account?</a>
     <!-- other col -->

  </div>
  <!-- other column Steps -->
  <div class="col mt-5">
    <h4>Please register for the best shopping experience</h4>
    <img src="../../../assets/register-image.png" alt="asdasd" width="50%" height="auto">
  </div>
  </div>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
